In [1]:
import pandas as pd

In [9]:
war_df = pd.read_csv('../data/Intra-StateWarData_v4.1.csv', encoding='ISO-8859-1')

In [10]:
war_df

,WarNum,WarName,WarType,CcodeA,SideA,CcodeB,SideB,Intnl,StartMonth1,StartDay1,...,EndDay2,EndYear2,TransFrom,WhereFought,Initiator,Outcome,TransTo,SideADeaths,SideBDeaths,Version
0,500,First Caucasus,5,365.0,Russia,-8.0,"Georgians, Dhagestania, Chechens",0,6,10,...,-8,-8,-8.0,2,Chechens,1,-8,5000,6000,4.1
1,501,Sidon-Damascus,6,-8.0,Sidon,-8.0,Damascus & Aleppo,0,6,-9,...,-8,-8,-8.0,6,Sidon,2,-8,-9,-9,4.1
2,502,First Two Sicilies,4,300.0,Austria,-8.0,-8,1,3,-9,...,-8,-8,-8.0,2,Liberals,1,-8,-9,-8,4.1
3,502,First Two Sicilies,4,329.0,Two Sicilies,-8.0,Liberals,1,7,2,...,-8,-8,-8.0,2,Liberals,1,-8,-9,-9,4.1
4,503,Spanish Royalists,4,230.0,Spain,-8.0,Royalists,0,12,1,...,-8,-8,-8.0,2,Royalists,4,1,-9,-9,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,938,Third Somalia,4,520.0,Somalia,-8.0,SCIC,1,3,6,...,-8,-8,-8.0,4,SCIC,1,-8,-9,-9,4.1
438,938,Third Somalia,4,530.0,Ethiopia,-8.0,-8,1,10,9,...,-8,-8,-8.0,4,SCIC,1,-8,-9,-8,4.1
439,938,Third Somalia,4,-8.0,-8,531.0,Eritrea,1,10,19,...,-8,-8,-8.0,4,SCIC,1,-8,-8,-9,4.1
440,940,Second Sri Lanka Tamil,5,780.0,Sri Lanka,-8.0,LTTE,0,10,11,...,-8,-8,-8.0,7,Sri Lanka,5,-8,-9,-9,4.1
441,941,Second Yemeni Cleric,4,679.0,Yemen,-8.0,Zaidi Muslims,0,1,29,...,-8,-8,-8.0,6,Zaidi Muslims,6,-8,1500,2000,4.1